* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:active {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: -1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --font-family-head: "Exo 2";
  --font-family-text: "PT Sans";
}

.head {
  font-family: var(--font-family-head);
  font-style: normal;
  font-weight: 600;
}

.text {
  font-family: var(--font-famaly-text);
  font-style: normal;
  font-weight: 400;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 1270px;
  padding: 15px;
  margin: 0 auto;
  overflow-x: hidden;
}

.greenfonc {
  position: absolute;
  width: 507px;
  height: 787px;
  left: 62.4%;
  top: 0px;
  background: #0B7572;
  z-index: -1;
}

.MainScreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 109px;
  margin-bottom: 67px;
}

.MainScreen_head {
  font-size: 52px;
  line-height: 125%;
}

.MainScreen__textPole {
  width: 86%;
  padding-right: 80px;
  position: relative;
}

.MainScreen__text {
  font-size: 16px;
  line-height: 150%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.MainScreen__slected_text {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
}

.MainScreen__slected_text:after {
  content: "";
  position: absolute;
  width: 104px;
  left: 0;
  top: 110%;
  border: 3px solid #FFCE50;
}

.MainScreen__img {
  position: relative;
  width: 635px;
  height: 505px;
}

.head {
  color: #363738;
}

.text {
  color: #6B6B6C;
}

.selected_text {
  font-family: var(--font-family-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-radius: 20px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  padding: 40px 0px 40px 16px;
}

.services__card {
  width: 333px;
  height: 245px;
  margin: 40px 0px 56px 64px;
  border-right: 1px solid #D7D7DD;
}

.services__card:nth-child(3n) {
  border-right: none;
}

.services__body {
  padding-right: 105px;
  padding-top: 24px;
}

.services__img {
  min-width: 92px;
  max-height: 92px;
  min-height: 92px;
  max-width: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #E9E9EC;
  border-radius: 100%;
}

.services__head {
  font-size: 20px;
  line-height: 135%;
  margin-bottom: 10px;
}

.getYouWork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.getYouWork__text {
  margin-bottom: 40px;
}

.getYouWork__poleQuestion {
  max-width: 687px;
  margin: 100px 0px 100px 0px;
}

.getYouWork__poleQuestion_head {
  font-size: 48px;
  line-height: 125%;
  margin-bottom: 16px;
}

.getYouWork__radio {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 176px;
  background: #FFFFFF;
  margin-top: 16px;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.getYouWork__radio input {
  position: relative;
  top: -12%;
  height: 24px;
  width: 13.7733142037%;
}

.getYouWork__radio:after {
  content: "";
  position: absolute;
  right: 0%;
  bottom: 0px;
  border: 61px solid transparent;
  border-right: 192px solid #E9E9EC;
  border-bottom: 20px solid #E9E9EC;
}

.getYouWork__minHead {
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 16px;
}

.getYouWork__radioText {
  max-width: 466px;
}

.getYouWork__dateUser {
  font-size: 20px;
  line-height: 150%;
  position: relative;
  margin: auto;
}

.getYouWork__dateUser_sizeUsers {
  font-size: 54px;
  line-height: 150%;
}

.getYouWork__dateUser_sizeUsers span {
  font-size: 20px;
  line-height: 150%;
}

.getYouWork__dateUser:after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  top: 140%;
  border: 3px solid #FFCE50;
}

.whoUs__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
  height: 453px;
}

.whoUs__img h2 {
  position: absolute;
  font-size: 48px;
  line-height: 125%;
  color: #ffffff;
  left: 0%;
  z-index: 1;
  top: 30%;
  width: 48%;
}

.whoUs__fons {
  position: relative;
  z-index: -1;
}

.whoUs__box1 {
  position: absolute;
  left: -100px;
  height: 100%;
  width: 769px;
  border-bottom: 453px solid #0B7572;
  border-right: 276px solid transparent;
}

.whoUs__box2 {
  position: absolute;
  left: 0px;
  height: 100%;
  width: 769px;
  border-bottom: 453px solid rgba(11, 117, 114, 0.3);
  border-right: 276px solid transparent;
}

.whoUs__content {
  margin: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.whoUs__cad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  height: auto;
  margin: 32px;
}

.whoUs__cardImg {
  min-width: 80px;
  max-height: 80px;
  min-height: 80px;
  max-width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #E9E9EC;
  border-radius: 100%;
}

.whoUs__cardbody {
  max-width: 327px;
}

.whoUs__cardbody h3 {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 135%;
}

.ourWorc {
  margin: 100px 0px 100px 0px;
}

.ourWorc__head {
  font-size: 48px;
  line-height: 125%;
  margin-bottom: 32px;
}

.ourWorc__slider {
  margin-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ourWorc__card {
  max-width: 393px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.ourWorc__cardBody {
  margin: 32px;
}

.ourWorc__cardHead {
  font-size: 18px;
  line-height: 135%;
  margin-bottom: 16px;
}

.ourWorc__selected_text {
  margin-top: 32px;
}

.ourWorc__sliderbuttons {
  height: 36px;
  margin: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ourWorc__pagination {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ourWorc__sliderbutton {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ourWorc__sliderbutton_active {
  border: 1px solid #0B7572;
}

.ourWorc .swiper-pagination-bullet {
  width: 36px;
  height: 36px;
  border: 9px solid #FFFFFF;
}

.ourWorc .swiper-pagination-bullet-active {
  padding: relative;
  background: #FFFFFF;
  border: 1px solid #0B7572;
}

.ourWorc .swiper-pagination-bullet-active:after {
  position: absolute;
  content: "";
  top: 50%;
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  background: #0B7572;
}

.ourWorc__circle {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background: #E9E9EC;
}

.ourWorc__circle_active {
  background: #0B7572;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #0B7572;
  padding: 85px 67px;
}

.clients__head {
  font-size: 48px;
  line-height: 125%;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.clients__riegts {
  background-image: url(../img/ieroglif.png);
}

.clients__lefts {
  width: 652px;
  height: 747px;
  background: #FFFFFF;
  border-radius: 8px;
}

.clients__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 28px 0px;
  margin: 0px 40px;
  border-bottom: 1px solid #D7D7DD;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.clients__text {
  width: 274px;
  height: 62px;
  font-size: 11px;
  line-height: 150%;
}

.clients__mobils {
  display: none;
}

.clients__nemper {
  font-size: 14px;
  line-height: 135%;
  color: #363738;
}

.table {
  margin: 32px;
  border-collapse: collapse;
}

.table__heads {
  height: 45px;
  color: #ffffff;
  background: #0B7572;
}

.table th {
  font-family: Exo 2;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.table td {
  padding: 24px 20px 0px 16px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.table tr:last-child td {
  border-bottom: 0;
}

.table tr td:first-child {
  border-left: 0;
}

.table tr td:last-child,
.table tr td:nth-last-child(2) {
  border-right: 0;
  border-right: 0;
}

.table__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.table__selected {
  font-size: 14px;
  line-height: 135%;
}

.table__img {
  margin-right: 16px;
}

.table__main {
  padding: 16px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.table__main:last-child {
  border: 0;
}

.table__head {
  font-size: 14px;
  line-height: 135%;
  padding-bottom: 10px;
  color: #363738;
}

.table__text {
  font-size: 14px;
  line-height: 135%;
}

.table__nemper {
  font-size: 14px;
  line-height: 135%;
  color: #363738;
  margin: 10px;
}

.staps {
  margin-top: 88px;
}

.staps__head {
  font-size: 48px;
  line-height: 125%;
  margin: 32px 0px;
}

.staps__head_circle {
  font-size: 38px;
  color: #ffffff;
}

.staps__head_card {
  font-size: 20px;
}

.staps__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 12px 0px;
}

.staps__main {
  position: relative;
  left: -32px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  padding: 32px 39px;
  padding-left: 96px;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.staps__circle {
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-contant: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 108px;
  min-width: 108px;
  max-height: 108px;
  max-width: 108px;
  border-radius: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.12) inset;
  box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.12) inset;
}

.staps__circle_small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: scale(0.6296296296);
  -ms-transform: scale(0.6296296296);
  transform: scale(0.6296296296);
  background: #0B7572;
  /* green */
  border-radius: 100%;
  border: 4px solid #0B7572;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
}

.staps__img {
  padding-right: 56px;
}

.staps__body {
  max-width: 568px;
}

.perecarotks {
  position: relative;
  width: 86px;
  height: 0px;
  margin: 24px 0px;
  border: 1.5px solid #FFCE50;
}

.clientLogo {
  margin-top: 152px;
}

.clientLogo_text {
  font-size: 14px;
  line-height: 150%;
}

.clientLogo__head {
  font-size: 48px;
  line-height: 125%;
  margin-bottom: 14px;
}

.clientLogoheadCard {
  font-size: 20px;
  line-height: 135%;
}

.clientLogo__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 55px;
}

.clientLogo__card {
  width: 100%;
  max-width: 310px;
  text-align: center;
  margin: 35px 0px;
  border-right: 1px solid #D7D7DD;
}

.clientLogo__card:nth-child(4n) {
  border-right: none;
}

.clientLogo__img {
  margin: 32px;
}

.owrTeam {
  margin-top: 95px;
}

.owrTeam__head {
  font-size: 48px;
  line-height: 125%;
}

.owrTeam__main {
  margin: 72px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.owrTeam__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 590px;
  width: 100%;
  margin-right: 30px;
  margin-bottom: 24px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border-left: 51px solid #0B7572;
}

.owrTeam__img {
  margin: 32px;
}

.owrTeam__body {
  margin: 32px 0px;
}

.owrTeam__headmin {
  font-size: 20px;
  line-height: 24px;
}

.owrTeam__perecarotks {
  position: relative;
  width: 86px;
  height: 0px;
  margin: 24px 0px;
  border: 1.5px solid #FFCE50;
  margin: 16px 0px 32px 0px;
}

.owrTeam__text {
  margin: 16px 0px;
}

.owrTeam__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.owrTeam__contact {
  margin-right: 20px;
}

.contacts__head {
  font-size: 48px;
  line-height: 125%;
  margin-bottom: 72px;
}

.contacts__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__info {
  max-width: 445px;
  width: 100%;
  margin-bottom: 42px;
}

.contacts__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 22px 0px;
}

.contacts__img {
  max-width: 100%;
}

.contacts__img img {
  max-width: 100%;
}

.contacts__body {
  margin-left: 36px;
}

.contacts__textCard {
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 8px;
}

.contacts__Cardinfo {
  font-size: 20px;
  line-height: 24px;
}

.contacts__proceedings {
  width: 100%;
  background: #F9F9FB;
  border-radius: 5px;
  padding: 40px 48px;
}

.contacts__proceeding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 16px 0px;
  padding-bottom: 16px;
  border-bottom: 1px solid #E9EAF2;
}

.contacts__proceeding:nth-last-child(1) {
  border: none;
}

.contacts__text {
  max-width: 230px;
  width: 100%;
}

.form-connections {
  color: #FFFFFF;
  background: url("../img/form-fon.png");
}

.form-connections textarea {
  width: 100%;
  height: 100%;
  color: #ffffff;
  line-height: 2.5;
  background: #0B7572;
  resize: none;
  background: url("../img/description.png") repeat-y;
}

.form-connections__head {
  color: #FFFFFF;
  font-size: 48px;
  line-height: 125%;
  margin-bottom: 72px;
}

.form-connections__form {
  padding: 56px;
  max-width: 770px;
  width: 100%;
  background: #0B7572;
}

.form-connections__form input {
  display: none;
}

.form-connections__form label {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 125%;
}

.form-connections__form label picture {
  margin-right: 19px;
}

.form-connections__file {
  margin-top: 33px;
  padding: 19px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.form-connections__button {
  margin-top: 72px;
  width: 206px;
  height: 50px;
  background: #FFFFFF;
  border-radius: 4px;
}

.form-connections__button p {
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  color: #0B7572;
}

.your-info {
  margin-top: 120px;
}

.your-info__head {
  font-size: 48px;
  line-height: 125%;
}

.your-info__body {
  padding: 56px 48px;
  margin: 50px 8px;
  background: #F9F9FB;
  border-radius: 5px;
}

.your-info__item {
  margin: 40px 0px;
}

.your-info__headmin {
  font-size: 20px;
  line-height: 135%;
  margin-bottom: 16px;
}

.your-info__imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.your-info__img {
  max-width: 175px;
  max-height: 136px;
  width: 100%;
  height: 100%;
  margin-right: 16px;
}

.your-info__img picture,
.your-info__img img {
  width: 100%;
  height: 100%;
}

.your-info__img-name {
  margin-top: 16px;
  color: #363738;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.your-info__button {
  color: #ffffff;
  font-size: 16px;
  line-height: 150%;
  width: 248px;
  height: 50px;
  margin-top: 80px;
  background: #0B7572;
  border-radius: 4px;
}

.videoBlock {
  margin-top: 100px;
}

.videoBlock__head {
  font-size: 48px;
  line-height: 125%;
}

.videoBlock__text {
  max-width: 848px;
  margin: 32px 0px;
}

.videoBlock__video {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 775px) {
  .contacts__head {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 770px) {
  .container {
    max-width: 720px;
    padding: 15px;
    margin: auto;
  }

  .greenfonc {
    width: 177px;
    left: 77%;
  }

  .MainScreen {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .MainScreen_head {
    font-size: 44px;
    line-height: 55px;
  }

  .MainScreen__img {
    width: 100%;
    height: 314px;
    overflow: hidden;
    margin-top: 9%;
  }

  .getYouWork {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .getYouWork__poleQuestion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 88px 0px 88px 0px;
  }

  .getYouWork__dateUser {
    display: none;
  }

  .whoUs__fons {
    left: 318px;
  }

  .whoUs__box1 {
    left: -313px;
  }

  .whoUs__box2 {
    left: -213px;
  }

  .ourWorc__slider {
    margin-top: 32px;
  }

  .ourWorc__card {
    max-width: 100%;
    max-width: auto;
    margin: 0px 0px;
  }

  .ourWorc__card img,
  .ourWorc__card picture {
    width: 100%;
  }

  .ourWorc__cardBody {
    margin-top: 24px;
  }

  .ourWorc__sliderbuttons {
    margin: 48px;
  }

  .clients {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 42px 64px;
  }

  .clients__lefts {
    width: 100%;
    height: auto;
  }

  .staps {
    margin-top: 56px;
  }

  .staps__main {
    padding-left: 79px;
  }

  .staps__img {
    display: none;
  }

  .clientLogo {
    margin-top: 88px;
  }

  .clientLogo__head {
    font-size: 44px;
  }

  .clientLogo__body {
    margin-top: 29px;
  }

  .clientLogo__card:nth-child(2n) {
    border-right: none;
  }

  .clientLogo__img {
    margin: 22px;
  }

  .owrTeam__card {
    max-width: 288px;
    display: block;
    border-left: 30px solid #0B7572;
  }

  .owrTeam__card:nth-last-child(1) {
    display: none;
  }

  .owrTeam__card:nth-last-child(2) {
    display: none;
  }

  .owrTeam__img {
    margin: 24px 0px 16px 30px;
  }

  .owrTeam__body {
    margin: 32px 30px;
  }

  .owrTeam__body {
    margin: 24px 16px;
  }

  .owrTeam__perecarotks {
    opacity: 1;
    margin: 16px 0px 32px 0px;
  }

  .contacts__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .form-connections__head {
    margin-bottom: 64px;
  }

  .your-info {
    margin-top: 88px;
  }

  .your-info__head {
    font-size: 44px;
  }

  .your-info__body {
    padding: 40px 32px;
    margin: 40px 8px;
  }

  .videoBlock {
    margin-top: 88px;
  }

  .videoBlock__head {
    font-size: 44px;
  }
}

@media screen and (max-width: 375px) {
  .container {
    max-width: 375px;
    padding: 15px;
  }

  .greenfonc {
    width: 100%;
    left: 0%;
  }

  .MainScreen_head {
    font-size: 28px;
    line-height: 35px;
    color: #FFFFFF;
  }

  .MainScreen__textPole {
    padding-right: 0px;
  }

  .MainScreen__text {
    font-size: 15px;
    line-height: 22, 5px;
    color: #FFFFFF;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .MainScreen__slected_text {
    font-size: 15px;
    line-height: 22, 5px;
    color: #FFFFFF;
  }

  .MainScreen__img picture,
  .MainScreen__img img,
  .MainScreen__img source {
    position: absolute;
    width: 345px;
    height: 253px;
  }

  .MainScreen__img {
    width: 100%;
    height: 253px;
    overflow: hidden;
    margin-top: 9%;
    border-radius: 15px;
  }

  .services {
    padding: 24px 0px 32px 32px;
  }

  .services__card {
    margin: 24px 0px 0px 0px;
  }

  .services__body {
    padding-right: 27px;
  }

  .services__img {
    margin: 0;
  }

  .getYouWork__text {
    display: none;
  }

  .getYouWork__poleQuestion {
    margin: 64px 0px 64px 0px;
  }

  .getYouWork__radio input {
    top: -17%;
    width: 16.231884058%;
  }

  .getYouWork__radio:after {
    display: none;
  }

  .whoUs__img h2 {
    width: 100%;
    position: static;
    color: #363738;
    font-size: 28px;
    line-height: 125%;
  }

  .whoUs__img {
    height: 64px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .whoUs__fons {
    display: none;
  }

  .whoUs__box1 {
    display: none;
  }

  .whoUs__box2 {
    display: none;
  }

  .whoUs__content {
    margin: 0px;
    margin-top: 48px;
  }

  .whoUs__cad {
    width: 100%;
    margin: 0px;
    margin-top: 16px;
  }

  .whoUs__cardImg {
    min-width: 52px;
    max-height: 52px;
    min-height: 52px;
    max-width: 52px;
    margin-right: 16px;
  }

  .ourWorc__sliderbuttons {
    margin: 24px;
  }

  .ourWorc__sliderbutton {
    width: 24px;
    height: 24px;
  }

  .ourWorc__circle {
    width: 12px;
    height: 12px;
  }

  .clients {
    padding: 32px 15px;
  }

  .clients th,
  .clients td {
    display: none;
  }

  .clients th.clients__mobils,
  .clients td.clients__mobils {
    display: revert;
  }

  .clients__head {
    font-size: 28px;
    line-height: 125%;
  }

  .clients__text {
    display: none;
  }

  .staps {
    margin-top: 32px;
  }

  .staps__head_card {
    font-size: 18px;
    line-height: 125%;
  }

  .staps__card {
    margin: 8px 0px;
  }

  .staps__card {
    margin: 7px 0px;
  }

  .staps__card p {
    font-size: 15px;
    line-height: 150%;
  }

  .staps__main {
    padding: 24px 32px;
    padding-left: 43px;
  }

  .staps__circle {
    min-height: 75px;
    min-width: 75px;
    max-height: 75px;
    max-width: 75px;
  }

  .staps__circle_small {
    -webkit-transform: scale(0.6933333333);
    -ms-transform: scale(0.6933333333);
    transform: scale(0.6933333333);
  }

  .perecarotks {
    opacity: 0;
    margin: 8px 0px;
  }

  .clientLogo {
    margin-top: 64px;
  }

  .clientLogo__head {
    font-size: 24px;
  }

  .clientLogo__body {
    margin-top: 19px;
  }

  .clientLogo__card {
    max-width: 172px;
  }

  .owrTeam__card {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-left: 20px solid #0B7572;
  }

  .owrTeam__card:nth-last-child(3) {
    display: none;
  }

  .owrTeam__card:nth-last-child(4) {
    display: none;
  }

  .owrTeam__img {
    margin: 24px 0px 16px 16px;
    max-width: 100px;
  }

  .owrTeam__img img {
    margin: 20% auto;
    max-width: 100px;
  }

  .contacts__head {
    margin-bottom: 32px;
  }

  .contacts__proceedings {
    padding: 40px 24px;
  }

  .contacts__proceeding {
    display: block;
  }

  .contacts__text {
    margin-bottom: 14px;
  }

  .form-connections__head {
    font-size: 28px;
    margin-bottom: 48px;
  }

  .form-connections__form {
    padding: 48px 16px;
  }

  .your-info {
    margin-top: 64px;
  }

  .your-info__head {
    font-size: 28px;
  }

  .your-info__body {
    padding: 0px 0px;
    margin: 0px 0px;
    background: none;
  }

  .your-info__button {
    display: none;
  }

  .videoBlock {
    margin-top: 64px;
  }

  .videoBlock__head {
    font-size: 28px;
  }
}

@media screen and (max-width: 770px) and (min-width: 376px) {
  .MainScreen__img picture,
  .MainScreen__img img,
  .MainScreen__img source {
    position: absolute;
    top: -50%;
    min-width: 100%;
  }

  .services {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
  }

  .services__card {
    width: 100%;
    height: 164px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 8px 0px 8px 0px;
    -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
  }

  .services__img {
    margin: 32px;
  }

  .whoUs__content {
    width: 100%;
    margin: 48px 0px 24px 48px;
  }

  .whoUs__cad {
    width: 100%;
    margin: 24px 0px 24px 0px;
  }

  .whoUs__cardImg {
    margin-right: 48px;
  }
}

@media screen and (max-width: 770px) and (min-width: 400px) {
  .ourWorc .swiper-container {
    height: 1210px;
  }

  .ourWorc .swiper-slide {
    height: auto;
  }
}

.webp .clients__riegts { background-image: url(../img/ieroglif.webp); }

.webp .form-connections { background: url(../img/form-fon.webp); }

.webp .form-connections textarea { background: url(../img/description.webp) repeat-y; }